In [1]:
df <- read.csv('athlete_events.csv')
head(df)

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

# Solutions:

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 +
- 16 and 12
- 13 and 11

In [3]:
min(df$Age[df$Sex == 'M' & df$Year == 1996], na.rm = TRUE)
min(df$Age[df$Sex == 'F' & df$Year == 1996], na.rm = TRUE)

[1] 14

[1] 12

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 +
- 2.5
- 7.7

In [4]:
gymnasts = df[!duplicated(df$Name),]
gymnasts = gymnasts[gymnasts$Sex == 'M' & gymnasts$Year == 2000,]
prop = round(prop.table(table(gymnasts$Sport)), 3)
prop[names(prop) == 'Gymnastics'] * 100

Gymnastics
       1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1 +

In [5]:
round(mean(df$Height[df$Sex == 'F' & df$Year == 2000 & df$Sport == 'Basketball']), 1)
round(sd(df$Height[df$Sex == 'F' & df$Year == 2000 & df$Sport == 'Basketball']), 1)

[1] 182.4

[1] 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh +
- Weightlifting
- Boxing

In [6]:
max_weight = max(df$Weight[df$Year == 2002], na.rm = TRUE)
na.omit(df$Sport[df$Year == 2002 & df$Weight == max_weight])

[1] Bobsleigh
attr(,"na.action")
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 19 20 21 22 23 24 25 26
[26] 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
attr(,"class")
[1] omit
66 Levels: Aeronautics Alpine Skiing Alpinism Archery ... Wrestling

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3 +

In [7]:
a = df[df$Name == 'Pawe Abratkiewicz',]
nrow(a[!duplicated(a$Year),])

[1] 3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 +
- 3

In [8]:
medals = table(df$Medal[df$Team == 'Australia' & df$Year == 2000 & df$Sport == 'Tennis'])
medals[names(medals) == 'Silver']

Silver
     2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes +
- No

In [9]:
switz = length(na.omit(df$Medal[df$Team == 'Switzerland' & df$Year == 2016]))
serbia = length(na.omit(df$Medal[df$Team == 'Serbia' & df$Year == 2016]))
switz < serbia

[1] TRUE

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly +
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [13]:
all_ = df[df$Year == 2014,]
age_45_55 = length(all_$Age[45 <= all_$Age & all_$Age <= 55])
age_35_45 = length(all_$Age[35 <= all_$Age & all_$Age <= 45])
age_25_35_notincl = length(all_$Age[25 <= all_$Age & all_$Age < 35])
age_15_25_notincl = length(all_$Age[15 <= all_$Age & all_$Age < 25])
age_35_45_notincl = length(all_$Age[35 <= all_$Age & all_$Age < 45])
cat(age_45_55, age_25_35_notincl, '<--- answer\n')
cat(age_45_55, age_15_25_notincl, '\n')
cat(age_35_45, age_25_35_notincl, '\n')
cat(age_45_55, age_35_45_notincl, '\n')

5 2594 <--- answer
5 2027
266 2594
5 265

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes +
- No, No

In [11]:
cat(length(df$ID[(df$City == 'Lake Placid') & (df$Season == 'Summer')]) > 0,
length(df$ID[(df$City == 'Sankt Moritz') & (df$Season == 'Winter')]) > 0)

FALSE TRUE

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34 +

In [12]:
year2016 = na.omit(df[df$Year == 2016,])
year2016 = year2016[!duplicated(year2016$Sport),]
year1995 = na.omit(df[df$Year == 1995,])
year1995 = year1995[!duplicated(year1995$Sport),]
length(year2016$Sport) - length(year1995$Sport)

[1] 34