<center>
<img src="../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

In [2]:
import pandas as pd

In [3]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [4]:
df = pd.read_csv(PATH)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Solutions:

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 +
- 16 and 12
- 13 and 11

In [19]:
df[(df['Sex'] == 'M') & (df['Year'] == 1996)]['Age'].min(), \
df[(df['Sex'] == 'F') & (df['Year'] == 1996)]['Age'].min()

(14.0, 12.0)

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 +
- 2.5
- 7.7

In [62]:
gymnasts = df[(df['Sex'] == 'M') & (df['Year'] == 2000)].drop_duplicates('Name')
(gymnasts['Sport'].value_counts(normalize=True)*100).round(1)['Gymnastics']

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1 +

In [63]:
players = df[(df['Sex'] == 'F') & (df['Year'] == 2000) & (df['Sport'] == 'Basketball')]['Height']
players.mean().round(1), players.std().round(1)

(182.4, 9.1)

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh +
- Weightlifting
- Boxing

In [93]:
max_weight = df[df['Year'] == 2002]['Weight'].max()
df[(df['Year'] == 2002) & (df['Weight'] == max_weight)]['Sport']

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3 +

In [99]:
df[df['Name'] == 'Pawe Abratkiewicz'].drop_duplicates('Year').shape[0]

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 +
- 3

In [112]:
df[(df['Team'] == 'Australia') & (df['Year'] == 2000) & (df['Sport'] == 'Tennis')]['Medal'].value_counts()['Silver']

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes +
- No

In [7]:
switz = df[(df['Team'] == 'Switzerland') & (df['Year'] == 2016)]['Medal'].count()
print(switz)
serbia = df[(df['Team'] == 'Serbia') & (df['Year'] == 2016)]['Medal'].count()
print(serbia)
switz < serbia

11
54

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly +
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [18]:
all_ = df[df['Year'] == 2014].drop_duplicates('ID')
age_45_55 = all_[(45 <= all_['Age']) & (all_['Age'] <= 55)]['Age'].count()
age_35_45 = all_[(35 <= all_['Age']) & (all_['Age'] <= 45)]['Age'].count()
age_25_35_notincl = all_[(25 <= all_['Age']) & (all_['Age'] < 35)]['Age'].count()
age_15_25_notincl = all_[(15 <= all_['Age']) & (all_['Age'] < 25)]['Age'].count()
age_35_45_notincl = all_[(35 <= all_['Age']) & (all_['Age'] < 45)]['Age'].count()
print(age_45_55, age_25_35_notincl, '<--- answer')
print(age_45_55, age_15_25_notincl)
print(age_35_45, age_25_35_notincl)
print(age_45_55, age_35_45_notincl)

5 1397 <--- answer
5 1193
151 1397
5 150

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes +
- No, No

In [24]:
print(df[(df['City'] == 'Lake Placid') & (df['Season'] == 'Summer')]['ID'].count() > 0, \
df[(df['City'] == 'Sankt Moritz') & (df['Season'] == 'Winter')]['ID'].count() > 0)

False True

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34 +

In [47]:
year2016 = df[df['Year'] == 2016].drop_duplicates('Sport')
year1995 = df[df['Year'] == 1995].drop_duplicates('Sport')
abs(year2016['Sport'].count() - year1995['Sport'].count())

34